<IDP VTSCRIPTURL="http://www.saferpay.com/OpenSaferpayScript.asp" VERSION="1" CAPTUREURL="https://www.saferpay.com/scai2/index.aspx" VTURL="https://www.saferpay.com/vt2/Pay.aspx" VTKEYID="1-0" MSGTYPE="SetupResponse" GXID="5B709915-27B2-42A0-B151-7A5715FFC7EA" VTAUTOURL="https://www.saferpay.com/user/setup.asp" CUSTOMERID="99867"/>