# http://www.databasejournal.com/features/mysql/article.php/3367871
# key_buffer_size + (read_buffer_size + sort_buffer_size) * max_connections = total_memory
# key_buffer_size = 1/4 de la mémoire

[client]
socket = /var/lib/mysql/mysql.sock
port = 3306
host = localhost
user = root
password = XXXX
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysql_upgrade]
socket = /var/lib/mysql/mysql.sock

[mysqldump]
quick

[mysqld]
#attention: supprimer /usr/my.cnf
sql_mode = ""

[server]
bind-address                    = 127.0.0.1
#bind-address                   = 0.0.0.0
character-set-server            = latin1
collation-server                = latin1_general_ci
#character-set-server            = utf8
#collation-server                = utf8_general_ci
join_buffer_size                = 2M
key_buffer_size                 = 256M
interactive_timeout             = 300
log-error                       = /var/log/mysqld.log
log-slow-queries                = /var/log/mysqld-slow.log
log-warnings                    = 1
low-priority-updates            = 1
max_allowed_packet              = 8M
max_connections                 = 512
myisam_max_extra_sort_file_size = 10G
myisam_max_sort_file_size       = 10G
myisam_sort_buffer_size         = 512M
#old-passwords
read_buffer_size                = 2M
read_rnd_buffer_size            = 4M
server-id                       = 1
skip-bdb
skip-innodb
skip-locking
skip-name-resolve
skip-networking
socket                          = /var/lib/mysql/mysql.sock
sort_buffer_size                = 8M
query_cache_limit               = 2M
query_cache_type                = 2
query_cache_size                = 128M
table_cache                     = 1024
tmp_table_size                  = 64M
thread_cache                    = 256
thread_concurrency              = 8
#thread_stack                   = 128K
tmp_table_size                  = 64M
tmpdir                          = /var/tmp
user                            = mysql
wait_timeout                    = 120

# RQ ##########################
;log : log all requests
;log-bin : log delete update
;skip-show-database : pb with pma
;server-id       = 2
;master-host     = <hostname>
;master-user     = <username>
;master-password = <password>
;master-port     = <port>;
;thread_concurrency = <NUM_CPU>*2
;skip-external-locking

